.movie {
  width: 18.8rem;
  height: 34rem;
  margin: 1.5rem;
  position: relative;
  border: black;
  box-shadow: -1px 7px 10px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 0rem 0rem 3rem 3rem;
}

.movie div:nth-of-type(1) {
  position: absolute;
  text-align: center;
  padding: 16px;
  width: 16.78rem;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie div:nth-of-type(2) {
  width: 19.1875rem;
  height: 22.375rem;
  flex-shrink: 0;
}

.movie div:nth-of-type(3) {
  z-index: -1;
  background: #343333;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0.038rem;
  padding: 2.44rem 1rem 2.2rem;
  border-radius: 0rem 0rem 3rem 3rem;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.4);
  transform: scale(1.05, 1.05);
}

.movie div:nth-last-of-type(3) span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(2) {
  background: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}
